/build/
*.o
*.out
*.gcov
*.swp
*.swo
/coverage/lcov.info
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
/.cache/
/third_party/raylib/
/third_party/turbovnc/
/third_party/libjpeg-turbo/
